html
body
  height 100%

#content
  box-sizing border-box
  fixed top left
  height 100%
  padding-top 50px
  width 100%

#map
  absolute top left
  height 100%
  width 100%

.gm-style-iw
  
  h1
    font-size 15px
    font-weight bold
    margin 0px
    margin-bottom 5px
    margin-top 3px
    padding 0px
    
    > .label
      font-size 12px
      margin-left 2px
      padding 1px 4px
    
  h2
    font-size 13px
    font-style italic
    margin 0px
    padding 0px
  
  hr
    margin 10px 0px
  
  div
    margin-bottom 2px
    
    > span
      display inline-block
      vertical-align middle
      
      &:nth-of-type(1)
        text-align right
        width 40px
        
        > .label
          font-size 12px
          margin-right 5px
          padding 1px 4px